.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
}

.center button {
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
}
